.StepperFinishDiv
{
  display:flex;
  justify-content:center;
  text-align:center;
  align-items: center;
  flex-direction: column;
  height:calc(100vh - 144px);
  width:100%;

}

.hfive{
  padding-top: 16px;
  color:white;
  font-weight: bold;
  text-align: center;
  margin-left: 12px;
  margin-right:5px;
}
.wrapper{
  border: 1px dashed red;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 150px;
}
.wrapper .selection{
 width:150px;
 border:1px solid #ccc
}